RESEND_API_KEY= 0d370341-dc14-40a7-992e-f9a6cb47d211
# Do not expose your Neon credentials to the browser
DATABASE_URL=''

AUTH_SECRET=
GITHUB_CLIENT_ID = 
GITHUB_CLIENT_SECRET_

GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET=